* {
  margin: 0;
  padding: 0;
}

html, body {
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.page-index {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 100px;
  font-weight: 800;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
}

.icons {
  display: flex;
  justify-content: center;
}