.page-article {
  width: 60%;
  margin: 0 auto;
  color: rgba(255, 255, 255, .98);
  margin-top: 100px;
  padding-bottom: 100px;
}

.article-title {
  font-size: 2.5rem;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
  font-weight: 800;
}

.article-content {
  line-height: 1.5;
}