.links-page {
  width: 40%;
  margin: 0 auto;
  padding-top: 160px;
}

.tab-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tab-item {
  background-image: linear-gradient(to right, #f12711, #f5af19);
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.link-item {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  flex-flow: column;
  align-items: flex-start;
  
  font-size: 20px;
  font-weight: 800;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
}